@font-face { font-family: "Berkeley Mono"; font-style: normal; font-weight: 400; src: local("Berkeley Mono"), url("/font/liberationmono-regular-webfont.woff2") format("woff2"), url("/font/liberationmono-regular-webfont.woff") format("woff"); font-display: swap; }
@font-face { font-family: "Quattrocento Sans"; font-style: bold; font-weight: 700; src: local("Quattrocento Sans"), url("/font/quattrocentosans-bold-webfont.woff2") format("woff2"), url("/font/quattrocentosans-bold-webfont.woff") format("woff"); font-display: swap; }
html { font: 18px "Liberation Mono", Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif; line-height: 1.5; padding: 0 1rem; }
body { max-width: 80ch; margin: auto; color: black; background-color: #ecf0f1; }
nav { display: flex; width: 100%; justify-content: center; flex-wrap: wrap; border-bottom: 4px solid #2c3e50; margin-bottom: 4.5rem; }
nav > a > img { height: 4.5rem; margin-top: 1.5rem; vertical-align: bottom; }
nav ul { display: inline; margin: 2.5rem 0 0.3rem  0; padding: 15px 10px; }
nav li { display: inline; }
nav a { text-align: center; margin: 0 20px; color: black; text-decoration: none; font: small-caps 700 1.4rem "Quattrocento Sans", "DejaVu Sans", "Trebuchet MS", Tahoma, sans-serif; }
a { text-decoration: none; color: black; }
main.list a { color: #2980b9; font-weight: bold; }
main.list a:hover { background-color: #ffffff; }
h1 { font: 700 1.6rem "Quattrocento Sans", "DejaVu Sans", "Trebuchet MS", Tahoma, sans-serif; }
h2 { font: 700 1.4rem "Quattrocento Sans", "DejaVu Sans", "Trebuchet MS", Tahoma, sans-serif; }
h2 time, h1 time { font: italic 1rem "Liberation Mono", Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Monospace, serif; line-height: 1; }
h2 .flag { font: 1rem "Liberation Mono", Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Monospace, serif; line-height: 1; }
h2 em { font-weight: normal; font-size: 1.3rem; }
p.border { border-width: 4px 0 0 0; border-style: solid; border-color: #2c3e50; padding-top: 1rem; }
p.border img { display: block; height: 8rem; margin: 0 auto; }
.about p img { margin: 3rem auto; }
h2 img, h1 img { margin-left: -0.4rem; width: 1.9rem; vertical-align: text-bottom; }
ul.projects, ul.posts, ul.plain { padding: 0; list-style-type: none; }
ul.projects img:first-of-type, ul.posts img:first-of-type { margin-left: -0.3rem; width: 1.7rem; vertical-align: sub; }
ul.projects li, ul.posts li { border: 2px solid #ecf0f1; margin: 0 -1rem; padding: 0 1rem; }
ul.projects li a, ul.posts li a { display: block; color: black; font-weight: normal; }
ul.projects li a:hover, ul.posts li a:hover { text-decoration: none; background-color: transparent; }
ul.projects li:hover, ul.posts li:hover { background-color: #ffffff; border: 2px solid #2c3e50; }
main.page p img { display: block; margin: 3rem auto; }
main.post table { margin-top: 2rem; }
main.post td:last-of-type { padding-left: 2rem; }
main.post tr:nth-child(1) td:last-of-type, main.post tr:nth-child(2) td:last-of-type { font-weight: bold; }
pre { font-size: 0.85rem; line-height: 1.2rem; width: auto; padding: 0.5rem; overflow: auto }
pre, code { font-family: "Liberation Mono", Menlo, Monaco, "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif; background-color: #ffffff; }
pre code { background-color: transparent; }
main a { color: #2980b9; font-weight: bold; }
main a:hover { background-color: #ffffff; }
main h1 a { color: black; }
main h1 a:hover { background-color: #ffffff; }
main p img { max-width: 100%; height: auto; }
audio { width: 100%; }
#find-me-elsewhere + table thead   { display: none; }
.rating-table table { width: 100%; }
.rating-table table td {  }
.rating-table table td:first-of-type { font-size: 1.5rem; padding-right: 1.5rem; text-align: center; }
.rating-movie td { height: 2.0rem; }
.rating-movie .rating { font-size: 1.5rem; font-weight: normal; }
@media screen and (max-width: 70ch) {
  nav > a { position: fixed; top: 0; right: 0; margin: 0; }
  nav > a > img { margin: 0; height: 3em; vertical-align: top; }
}


