{% extends "base.html" %}
{% import "macro.html" as macro %}


{%- block content -%}
{%- set_global allPages = [] -%}
{%- for s in section.subsections -%}
{%- set subsection = get_section(path=s) -%}
{%- for p in subsection.pages -%}
{%- set_global allPages = allPages | concat(with=p) -%}
{%- endfor -%}
{%- endfor -%}
{%- set_global allPages = allPages  | sort(attribute="date") | filter(attribute="draft", value=false) | reverse | slice(end=5)  -%}
<main class="list">
<h1>Latest additions to this site</h1>
<ul class="posts">
{%- for p in allPages -%}
{%- set s = get_section(path=p.ancestors[1]) -%}
<li>
<a href="{{ p.path }}">
<h2><img src="/image/{{ s.extra.icon }}"> {{ s.extra.short}} > {{ p.title }}</h2>
<p>{{ p.summary | striptags | safe }}</p></a>
</li>
{%- endfor -%}
</ul>
</main>
{%- endblock content -%}

{% block docTitle -%}
{{ section.title }} - ewintr.nl
{%- endblock docTitle %}

{% block language -%}
{%- endblock language %}

