{%- extends "base.html" -%}
{%- import "macro.html" as macro -%}

{%- block content -%}
<main class="list">
<h1>{{ section.title }}{{ macro::flag(language=section.extra.language)}}</h1>
{{ section.content | safe }}
<p class="border"><img src="/image/{{ section.extra.icon }}"></p>
<ul class="posts">
{%- for p in section.pages -%}
<li>
<a href="{{ p.path }}">
<h2><img src="/image/{{ section.extra.icon }}">  {{ p.title }} <br>{{ macro::date(language="en", day=p.day, month=p.month, year=p.year)}}</h2>
<p>{{ p.summary | striptags | safe }}</p></a>
</li>
{%- endfor -%}
</ul>
</main>
{%- endblock content -%}

{%- block docTitle -%}
{{ section.title }} - ewintr.nl
{%- endblock docTitle -%}

{%- block language -%}
{{ section.extra.language }}
{%- endblock language -%}

{%- block godoc -%}
{%- if section.extra.goimport -%}
<meta name="go-import" content="ewintr.nl/{{ section.extra.short }} git {{ section.extra.goimport | safe }}">
<meta name="go-source" content="ewintr.nl/{{ section.extra.short }} https://code.ewintr.nl/ewintr/{{ section.extra.short }} https://code.ewintr.nl/ewintr/{{ section.extra.short }}/src/branch/master{/dir} https://code.ewintr.nl/ewintr/{{ section.extra.short }}/src/branch/master{/dir}/{file}#L{line}">
{% endif -%}
{%- endblock godoc -%}



